interface {{pascalCase name}}Props {
  prop: string
}


function {{pascalCase name}}({prop}: {{pascalCase name}}Props){

return (
  <div>{{pascalCase name}}</div>
  )
}

export default {{pascalCase name}}
